<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 container">
                <a th:href="@{/ems/home}"> Home </a> / <a href="#"> Employee Directory </a>
                <a th:href="@{/ems/logout}"> Log Out </a>
            </div>
        </div>
        <div class="row">
            <form th:action="@{/ems/employee-directory}" method="GET">
                <label class="col-2">Employee name</label>
                <input class="col-2" type="text" name="name"/>
                <label class="col-2">Role</label>
                <select name="role" class="col-2">
                    <option name="%" value="%"> All </option>
                    <option th:each="role: ${roles}" th:name="${role}" th:value="${role}" th:text="${role}"></option>
                </select>
                <label class="col-2">Department</label>
                <select name="dept" class="col-2">
                    <option name="%" value="%"> All </option>
                    <option th:each="dept: ${depts}" th:name="${dept}" th:value="${dept}" th:text="${dept}"></option>
                </select>
                <button type="submit" class="col-2 btn btn-primary">Search</button>
            </form>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Employee ID</th>
                        <th>Employee Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Department</th>
                    </tr>
                    <tr th:each="employeeInfo: ${employeeInfos}">
                        <td th:text="${employeeInfo.getEmpId()}" />
                        <td th:text="${employeeInfo.getName()}" />
                        <td th:text="${employeeInfo.getEmail()}" />
                        <td th:text="${employeeInfo.getRole()}" />
                        <td th:text="${employeeInfo.getDept()}" />
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>