<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Home </h1>
<a th:href="@{/ems/logout}"> Log Out </a>
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Hello !!  '" />
    

<h3> Redirection Links: </h3>
<table>
<tr>
<td><a th:href="@{/ems/investmentdeclaration}"> Investment Declaration </a> </td>
</tr>
<tr>
<td><a th:href="@{/ems/salarystructure}"> My CTC Structure </a> </td>
</tr>

</table>
       

</body>
</html>