<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 container">
                <a th:href="@{/ems/home}"> Home </a> / <a href="#"> Leave Management </a>
                <a th:href="@{/ems/logout}"> Log Out </a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label> Leave Balance </label>
                <table class="table">
                    <tr>
                        <td>Paid Time Off</td>
                        <td><label th:text="${lb.ptoLeaves}"></label></td>
                    </tr>
                    <tr>
                        <td>Casual Leaves</td>
                        <td><label th:text="${lb.casualLeaves}"></label></td>
                    </tr>
                    <tr>
                        <td>Sick Leaves</td>
                        <td><label th:text="${lb.sickLeaves}"></label></td>
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <form th:action="@{/ems/leave-management/apply}" method="POST">
                    <label>Start Date</label> <input type="text" name="startDt" /><br>
                    <label>End Date</label> <input type="text" name="endDt" /><br>
                    <label>Reason</label> <input type="text" name="reason" /><br>
                    <label>Leave Type</label>
                    <select name="leaveType">
                        <option name="PTO" value="PTO">Paid Time Off</option>
                        <option name="CASUAL" value="CASUAL">Casual Leave</option>
                        <option name="SICK" value="SICK">Sick Leave</option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Leave ID</th>
                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Apply Date</th>
                        <th>Approve Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    <tr th:each="el: ${els}">
                        <!-- <td th:text="${el.getEmpId()}" /> -->
                        <td th:text="${el.getLeaveId()}" />
                        <td th:text="${el.getLeaveType()}" />
                        <td th:text="${el.getStartDt()}" />
                        <td th:text="${el.getEndDt()}" />
                        <td th:text="${el.getApplyDt()}" />
                        <td th:text="${el.getApproveDt()}" />
                        <td th:if="${el.isCanceled()}">Canceled</td>
                        <td th:if="${!el.isCanceled() && el.isTaken()}">Taken</td>
                        <td th:if="${!el.isCanceled() && !el.isTaken() && el.isApproved()}">Approved</td>
                        <td th:if="${!el.isCanceled() && !el.isTaken() && !el.isApproved()}">Applied</td>
                        <td>
                            <a th:if="${!(el.isTaken() || el.isCanceled())}"
                                th:href="@{'/ems/leave-management/cancel?leaveId='+${el.getLeaveId()}}">Cancel</a>
                            <span th:if="${el.isTaken() || el.isCanceled()}">Cancel</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>