<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>   
	<title>  
		Registration Employee 
	</title>  
</head>
<body>
<a th:href="@{/ems/home}"> Go to Home Page </a> |
<a th:href="@{/ems/logout}"> Log Out </a>
<form action="#" th:action="@{/ems/reimbursement-approval/submit}" th:object="${EmployeeDetail}" method="post">
<h1> Reimbursement approval </h1>
<h2> Approve the appropriate reimbursement requests</h2>
<br> <br>  
<input type="submit" value="Submit" />
</form>
<div th:if="${success}" style="background-color:palegreen; width:fit-content; font-size:20px;" th:text="${success}"/></div>
<div th:if="${error}" style="background-color:pink; width:fit-content; font-size:20px;" th:text="${error}"/></div>
</body>
</html>