<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{/ems/home}"> Go to Home Page </a> |
<a th:href="@{/ems/logout}"> Log Out </a>
<div th:unless="${ not#lists.isEmpty(timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'You do not have any Time Sheet generated yet'" />
</div>
<div th:if="${ not#lists.isEmpty(timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your current time sheet'" />
    <table>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Hours worked</th>
        </tr>
        <tr th:each="t : ${timesheet}">
            <td th:text="${t.date}"></td>
            <td th:text="${t.day}"></td>
            <td th:text="${t.start_time}"></td>
            <td th:text="${t.end_time}"></td>
            <td th:text="${t.hours_worked}"></td>
        </tr>
        </table>
</div>
<div th:unless="${ not#lists.isEmpty(future_timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'You do not have any scheduled shifts'" />
</div>
<div th:if="${ not#lists.isEmpty(future_timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your scheduled shift details are'" />
    <table>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Hours worked</th>
        </tr>
        <tr th:each="t : ${future_timesheet}">
            <td th:text="${t.date}"></td>
            <td th:text="${t.day}"></td>
            <td th:text="${t.start_time}"></td>
            <td th:text="${t.end_time}"></td>
            <td th:text="${t.hours_worked}"></td>
        </tr>
    </table>
</div>
<div th:if="${ not#lists.isEmpty(timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your total worked hours are:'" />
    <div style="background-color:palegreen; width:fit-content; font-size:20px;" th:text="${totalhours}"/>
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your total weekly worked hours are:'" />
    <div style="background-color:palegreen; width:fit-content; font-size:20px;" th:text="${totalhours_week}"/>
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your total monthly worked hours are:'" />
    <div style="background-color:palegreen; width:fit-content; font-size:20px;" th:text="${totalhours_month}"/><br/>
    <div th:if="${limit}" style="background-color:pink; width:fit-content; font-size:20px;" th:text="${limit}"/> </div>
</div>
</body>
</html>