<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:if="${ not#lists.isEmpty(timesheet)}">
    <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Hello !!  '" />
    <table>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Hours worked</th>
        </tr>
        <tr th:each="t : ${timesheet}">
            <td th:text="${t.date}"></td>
            <td th:text="${t.day}"></td>
            <td th:text="${t.start_time}"></td>
            <td th:text="${t.end_time}"></td>
            <td th:text="${t.hours_worked}"></td>
        </tr>
        <table>
            <p style="font-size: 20px;font-family: monospace; background-color: azure;" th:text="'Your total worked hours are:'" />
            <div style="background-color:palegreen; width:fit-content; font-size:20px;" th:text="${totalhours}"/> </div>
</div>
</body>
</html>